<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tocotoco</title>
    <link rel="stylesheet" href="css/toco.css" />
  </head>

  <body style="background-color: #fbfbfb;">
    <script type="x-tpl/template" id="tpl-cate-item">
      {% for (let c of o) { %}
      <div data-id="{%= c.id %}" class="menu-categories--item">
          <div class="item--label">{%= c.title %}</div>
          <div class="item--count">{%= c.count %}</div>
      </div>
      {% } %}
    </script>
    <script type="x-tpl/template" id="tpl-cart-item">
      <div class="cart-title">
        <h3 >Giỏ hàng của tôi</h3>
        <div id="remove-all">Xóa tất cả</div>
      </div>
      
      {% if (o.length === 0) { %}
        <div style="padding: 20px 30px">Không có sản phẩm trong giở hàng</div>
      {% } else { %}
      <div style="background-color:white; max-height: 500px; overflow-y: scroll; box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        {% for (let c of o) { %}
            <div data-id={%= c.item.id %} class="cart-item" >
                  <div class="item--label">Tên sản phẩm : {%= c.item.name %}</div>
                  <span class="btn-action add"><div>+</div></span>
                  <span class="text-between-btn"><div>{%= c.quantity %}</div></span>
                  <span class="btn-action remove"><div>-</div></span>
                  <div style="clear:both;"></div>
                  <div style="color: rgb(138, 115, 63); font-weight: bold;">{%= c.item.minPrice %} đ x {%= c.quantity %} = {%= c.item.minPrice*c.quantity %} đ</div>
            </div>
        {% } %}
          </div>
          {% } %}
        
      <div class="total" style="margin-top: 10px; color: rgb(138, 115, 63);">Tổng : <img src="./assets/icon-glass-tea.png" /> x {%= o.reduce((cur, i)=> cur+i.quantity ,0) %} = {%= o.reduce((cur, i)=> cur+i.item.minPrice * i.quantity, 0) %} d</div>
      <div id="pay">Thanh toán</div>
    </script>
    <script type="x-tpl/template" id="tpl-product-item">
      <div class="group-title active"><span class="group-title--label">{%= o.collectionTitle %}</span><span
          class="group-title--right"><span class="count-product">{%= o.count %}</span></span></div>
      <div class="menu-group-list active" id="products">
          {% for (let p of o.products) { %}
          <app-menu-item-product-grid class="item-left menu-item" data-pid="{%= p.id %}">
              <div class="item-menu-product-inner">
                  <div class="product-feature-img"><img
                          src="{%=p.imageUrl%}">
                  </div>
                  <div class="item-mn-product-infor">
                      <div class="product-title">
                          <a class="router-link-cus">{%= p.name %}</a>
                      </div>
                      <div class="product-price">
                          <div class="price-current">{%= p.price %}</div>
                      </div>
                  </div>
                  <div class="item-mn-product-action">
                      <div class="item-mn-product-add">+</div>
                  </div>
              </div>
          </app-menu-item-product-grid>
      {% } %}
      </div>
    </script>

    <script type="x-tpl/template" id="tpl-payment">
      <div id="popup1" class="overlay">
        <div class="popup">
          <h2>Here i am</h2>
          <a class="close" href="#">&times;</a>
          <div class="content">
            Thank to pop me out of that button, but now i'm done so you can close this window.
          </div>
        </div>
      </div>
    </script>

    <div id="app"style="width: 80%; margin: auto;">
      <div class="menu-categories-inner">
        <div class="menu-categories--title">Danh mục</div>
        <div class="menu-categories--content" id="menu" style="width: 20%; float: left;"></div>
        <div class="menu-group-inner" id="product-wrapper" style="width: 50%; float: left;"></div>
        <div class="menu-cart-item" id="cart" style="width: 25%; float: right;"></div>
        <div style="clear: both;"></div>
      </div>

      <div id="payment"></div>
      <a class="trigger_popup_fricc">Click here to show the popup</a>
      <div class="box">
        <a class="button" href="#popup1">Let me Pop up</a>
      </div>
    </div>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/tmpl.min.js"></script>
    <script src="/js/v3.js"></script>
  </body>
</html>
